:root {
    --greenSeaweed: rgba(2, 128, 144, 1);
    --blueQueen: rgba(69, 105, 144, 1);
    --redFire: rgb(43, 43, 43);
}

body {
    font: 14px arial;
    color: #222;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('BGWeb.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
#browsePic{
	display: inline-block;
	/* margin-right: 3%; */
}
#displayPic{
	/*display: inline-block;*/
	width:120px;
	height: 100px;
    margin-top: 10px;
	border: 2px solid white;
    border-radius: 45%;

	/*background-color: #94A5AC;*/
}

img{
	width:100%;
	height: 100%;
    border-radius: 45%;
    
}

form,
p {
    margin: 0;
    padding: 0;
    font: 14px arial;
}

span {
    margin: 5px;
}

input {
    font: 14px arial;
}

#logoutBtn {
    font-size: 20px;
    width: 80px;
    margin: 30px 1520px 30px 0px;
    cursor: pointer;
    background-color: var(--redFire);
    color: #fff;
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 300ms;
}
th, td {
    color: white; /* สีตัวอักษร */
  }

#logoutBtn:hover {
    background-color: darken(var(--redFire), 5%);
}

#username {
    font-weight: 600;
}

.wrapper {
    order: 2;
    margin: 0 auto;
    margin-top: 0px;
    background-image: url('BGWeb.jpg');
    padding-bottom: 0px;
    /* background: #EBF4FB; */
    width: 800px;
    border: 1px solid #ACD8F0;
    display: flex;
    flex-direction: column; 
    
}

#loginform {
    order: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url('BGWeb.jpg');
    /* background: #EBF4FB; */
    width: 800px; 
    color: white;
    border: 1px solid #ACD8F0;
}

#loginform {
    padding-top: 18px;
}



#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 400px;
    width: 700px; 
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#userMsg {
    width: 350px;
    border: 1px solid #007bbd;
    margin-left: 50px;
    margin-right: 10px;
    align-self: flex-start; 
}


#submitmsg {
    width: 80px; 
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 180px;
}

#menu {
    padding: 12.5px 25px 12.5px 25px;
}

.welcome {
    display: inline;
        color: white; /* สีตัวอักษร */

}

.message {
    margin: 0 0 2px 0;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

#table {
    flex: 0 0 300px;
    margin-left: 50px;
    margin-top: 0;
}

#chatbox {
    flex: 1;
    margin-left: 20px;
    margin-top: 0;
}

#submitmsg {
    width: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 180px;
    cursor: pointer; 
     background-color: var(--redFire); 
    color: #fff; 
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 300ms;
}

#submitmsg:hover {
    background-color: darken(var(--redFire), 5%);
}

.table-but {
    width: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 25px;
    padding: 20px;
    cursor: pointer; 
    background-color: var(--redFire); 
    color: #fff; 
    border: 0;
    padding: 10px 0;
    border-radius: 5px;
    transition: background-color 300ms;
}


.table-but:hover {
    background-color: darken(var(--redFire), 5%);
}
